<a href="https://colab.research.google.com/github/TanisqSinghal/Data_science_internship/blob/main/Lecture3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CONDITIONALS STATEMENTS(NESTED)

In [ ]:
wear = input()
color = input()
if wear == "shirt" :
  if(color == "red") :
    print("red match with light pants")
  elif(color == "white") :
    print("white matches with dark pants")
else :
  print("T-shirt macthes with jeans")

bwdkjbc
vwhjvc
T-shirt macthes with jeans

In [ ]:
device = input()
price = int(input())
if(device.lower() == "laptop") :
  if(price >= 15000 and price <= 30000) :
    print("we have i3 i5 with 11th gen and amd dual core 4500")
  elif(price > 30000 and price <=70000) :
    print("we have 12th gen i5 and 13th gen i3, have ryzen with RTX also ")
else :
  print("explore more in our shop")

hweghjbd
12000
explore more in our shop

#LOOPS

In [ ]:
start = 10;
while(start > 0) :
  print("hello world")
  start = start - 1

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
for _ in range(10):
  print("hello world")

hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world
hello world

In [ ]:
# name = "Tanishak"
# for i in name:
#   if(i == "a") :
#     print("1", end="")
#   else :
#     print(i, end="")
name = "Tanishak"
i = 0
while(i < len(name)) :
  if(name[i] == "a") :
    print("1", end="")
  else :
    print(name[i], end="")
  i = i+1

T1nish1k

In [ ]:
#prime or not
number = int(input("Enter a number: "))
val = True
# for i in range(2, number) : #go from 2 to number-1 by default
#   if(number == 2) :
#     print("prime")
#   if(number % i == 0):
#     val = False
#     break
# if(val == True):
#   print("prime")
# else :
#   print("not prime")
i = 2
while(i < number) :
  if(number % i == 0) :
    val = False
    break
  i = i + 1
# if(number == 2) :
#     print("prime")
elif(val) :
  print("Prime")
else :
  print("Not prime")

Enter a number: 10
Not prime

In [ ]:
#sum of numbers in a range
sum = 0
for i in range(1, 101) :
  sum = sum + i
print("sum of number in range is: ", sum)

sum of number in range is:  5050

In [ ]:
#print even numbers
num = int(input("Enter a number: "))
for i in range(1, num+1) :
  if(i % 2 == 0) :
    print(i, end=" ")

Enter a number: 10
2 4 6 8 10

In [ ]:
#count number of digits in a number
number = 3458
count = 0
while(number > 0) :
  count = count + 1;
  number = number//10
print(count)

4

In [ ]:
#calculate factorial
fact = 1
number = 5
for i in range(1, number+1) :
  fact = fact * i
print(fact)

120

In [ ]:
#print multiplication table
number = 5;
for i in range(1, 11) :
  print(f"{number} * {i} = {number*i}")

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
import math

for i in range(2, 51):
    val = True
    for j in range(2, int(math.sqrt(i)) + 1):
        if i % j == 0:
            val = False
            break
    if val:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
my_string = "Tanishak"
length = len(my_string)
for i in range(length):
    print(my_string[length - i - 1], end="")

kahsinaT

In [ ]:
#fibbonacci
a = 0
b = 1
for i in range(10) :
  print(a)
  a, b = b, b+a

0
1
1
2
3
5
8
13
21
34

In [ ]:
#fibbonacci
prev_val = 0
curr_val = 1
print(prev_val)
print(curr_val)
for i in range(0,8) :
  updated_val = prev_val + curr_val
  print(updated_val),
  prev_val = curr_val
  curr_val = updated_val

0
1
1
2
3
5
8
13
21
34

#NESTED LOOPS

In [ ]:
# *
# **
# ***
# ****
#print this pattern
for i in range(1, 6) :
  for j in range(i) :
    print("*", end="");
  print()

*
**
***
****
*****

#WHILE LOOP

In [ ]:
i = 6
while(i < 10) :
  i += 1
  print(i)

7
8
9
10

In [ ]:
#countdown timer
i = 10
while(i > 0) :
  print(i)
  i -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
#sum of numbers
n = 10
sum = 0
while(n > 0) :
  sum += n
  n -= 1;
print(sum)

55

In [ ]:
#user_input
user_input = input()
while(user_input != "quite") :
  user_input = input("enter quite to exit")

jbwjce
enter quite to exitnwsdb hbc
enter quite to exitquite

#LIST COMPREHENSEN

In [ ]:
natural_numbers = [1,2,3,4,5,6,7,8]
[x for x in range(1,10) if x%2 == 0]

[2, 4, 6, 8]

In [ ]:
names = ["Gaurav", "Saurav", "Sachine"]
[name.upper() for name in names]

['GAURAV', 'SAURAV', 'SACHINE']

In [ ]:
[[i,j,k] for i in range(3) for j in range(2) for k in range(2) if i+j+k == 2]

[[0, 1, 1], [1, 0, 1], [1, 1, 0], [2, 0, 0]]